{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="map-header">
  <img src="{% static 'loading.gif' %}" class="loading-img" />
  <div class="map-header-layer" id="map-background" style="height: calc(100vh - 100px);"></div>
</div>

<div class="file-upload-block">
  <i class="fa fa-download" data-toggle="tooltip" title="" data-original-title="download geojson file" onclick="download()"></i>
  <div class="image-upload">
    <label for="file-input">
      <i class="fa fa-cloud-upload" data-toggle="tooltip" title="" data-original-title="upload geojson file"></i>
    </label>
    <input id="file-input" name="fileInput" type="file" accept=".json"/>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detail-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <form method="post" id="detail-form">
    {% csrf_token %}
    <input type="hidden" name="geometry" class="geometry data-value" value="" />
    <input type="hidden" name="data_id" class="data-id data-value" value="edit" />
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body card-body">
        <div class="row asset-a-form-body">
          <div class="col-md-2 col-lg-2" style="text-align: center; padding-top: 10px;">
            A
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="form-group">
              <input type="text" class="form-control a_1 data-value" name="a_1" placeholder="text attribute 1" />
            </div>
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="form-group">
              <input type="text" class="form-control a_2 data-value" name="a_2" placeholder="text attribute 2" />
            </div>
          </div>
          <div class="col-md-2 col-lg-2" style="text-align: center; padding-top: 10px;">
            B
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="form-group">
              <input type="text" class="form-control b_1 data-value" name="b_1" placeholder="text attribute 1" />
            </div>
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="form-group">
              <input type="text" class="form-control b_2 data-value" name="b_2" placeholder="text attribute 2" />
            </div>
          </div>
          <div class="col-md-2 col-lg-2" style="text-align: center; padding-top: 10px;">
            C
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="form-group">
              <input type="text" class="form-control c_1 data-value" name="c_1" placeholder="text attribute 1" />
            </div>
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="form-group">
              <input type="text" class="form-control c_2 data-value" name="c_2" placeholder="text attribute 2" />
            </div>
          </div>
          <div class="col-md-2 col-lg-2" style="text-align: center; padding-top: 10px;">
            D
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="form-group">
              <input type="text" class="form-control d_1 data-value" name="d_1" placeholder="text attribute 1" />
            </div>
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="form-group">
              <input type="text" class="form-control d_2 data-value" name="d_2" placeholder="text attribute 2" />
            </div>
          </div>
          <div class="col-md-2 col-lg-2" style="text-align: center; padding-top: 10px;">
            E
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="form-group">
              <input type="text" class="form-control e_1 data-value" name="e_1" placeholder="text attribute 1" />
            </div>
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="form-group">
              <input type="text" class="form-control e_2 data-value" name="e_2" placeholder="text attribute 2" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="cancel()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary btn-remove" onclick="submitForm('remove')">Remove</button>
        <button type="button" class="btn btn-primary btn-create" onclick="submitForm('create')">Create</button>
      </div>
    </div>
    </form>
  </div>
</div>

<link rel='stylesheet' href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
<script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="{% static 'js/map.js' %}"></script>
<script type="text/javascript">
  var pointLayer;
  function openDetail(feature, geom) {
    if (feature == null) {
      $(".data-value").val("");

      $(".geometry").val(geom);
      $(".modal-title").html("Create New Item");
      $(".btn-remove").hide();
      $(".btn-create").html("Create");

    } else {
      feature = feature['properties'];

      $(".modal-title").html("Edit Item");
      $(".btn-remove").show();
      $(".btn-create").html("Save");

      $(".data-value").val("");
      $(".data-id").val(feature['id']);
      // $(".speed").val(feature['speed']);
      // $(".phone").val(feature['phone']);
      // $(".digital_tv").val(feature['digital_tv']);
      // $(".home_autom").val(feature['home_autom']);
      // $(".url").val(feature['url']);

      $(".a_1").val(feature['a_1']);
      $(".a_2").val(feature['a_2']);
      $(".b_1").val(feature['b_1']);
      $(".b_2").val(feature['b_2']);
      $(".c_1").val(feature['c_1']);
      $(".c_2").val(feature['c_2']);
      $(".d_1").val(feature['d_1']);
      $(".d_2").val(feature['d_2']);
      $(".e_1").val(feature['e_1']);
      $(".e_2").val(feature['e_2']);

    }
    $('#detail-modal').modal('show');
  }

  function cancel() {
    drawnItems.clearLayers();
  }

  function submitForm(mode) {
    var url = '{% url "remove_item" %}';
    if (mode == 'create') {
      url = '{% url "create_item" %}';
    } else {
      var r = confirm("Do you really want to remove this item?");
      if (r != true) return;
    }

    $("#detail-form").validate();

    if($("#detail-form").valid()) {
      $('#detail-modal').modal('hide');
      $(".loading-img").show();

      $.ajax({
        method: "post",
        url: url,
        data: $('#detail-form').serialize()
      }).done(function (geoJson) {
        loadData();
      });
    }
  }

  function loadData() {
    $(".loading-img").show();
    drawnItems.clearLayers();
    if (pointLayer)
      map.removeLayer(pointLayer);
    $.ajax({
      method: "post",
      url: "/api/geojson/",
      dataType: "json"
    }).done(function (geoJson) {
      if (geoJson['features'] == null) {
        $(".loading-img").hide();
        return;
      }

      pointLayer = L.geoJSON(geoJson, {
        onEachFeature: function(feature, layer) {
          // layer.bindPopup(feature.properties['speed'], {closeButton: false});
          layer.on('mouseover', function() { layer.openPopup(); });
          layer.on('mouseout', function() { layer.closePopup(); });

          layer.on('click', function (e) {
            openDetail(feature);
          });
        },
      }).addTo(map);
      map.fitBounds(pointLayer.getBounds());

      $(".loading-img").hide();
    });
  }

  function download()
  {
    var a = document.createElement("a");
    document.body.appendChild(a);
    a.style = "display: none";

    var blob = new Blob(["\ufeff", JSON.stringify(pointLayer.toGeoJSON())]);
    var url = window.URL.createObjectURL(blob);
    a.href = url;
    a.download = "data.json";
    a.click();
    window.URL.revokeObjectURL(url);
  }

  map.on('draw:created', function (e) {
    drawnItems.addLayer(e.layer);
    openDetail(null, toWKT(e.layer));
  })

  $(document).ready(function(){
    loadData();

    $('input[name=fileInput]').change(function(ev) {
      var formData = new FormData();

      if (!$('#file-input')[0].files[0])
        return;

      formData.append('file', $('#file-input')[0].files[0]);

      $(".loading-img").show();
      drawnItems.clearLayers();
      if (pointLayer)
        map.removeLayer(pointLayer);
      
      $.ajax({
        url : '{% url "api_upload" %}',
        type : 'POST',
        data : formData,
        processData: false,  // tell jQuery not to process the data
        contentType: false,  // tell jQuery not to set contentType
        success : function(data) {
          loadData();
          $('#file-input').val("");
        }
      });
    });
  });
</script>
{% endblock %}